@inherits LiveComponentBase<bool>
@inject IGameUserService GameUserService

@{
    var isOnline = State.LastValue;
}

<Badge Color="Color.Primary" Style="@(isOnline ? "" : "opacity: 0.5;")" Class="@CssClass">
    <Blazorise.Icon Name="@(isOnline ? FontAwesomeIcons.User : FontAwesomeIcons.UserClock)" />
    @User.Name
</Badge>

<span></span>

@code {
    [Parameter]
    public string CssClass { get; set; } = "";
    [Parameter]
    public GameUser User { get; set; } = GameUser.None;

    protected override async Task<bool> ComputeStateAsync(CancellationToken cancellationToken)
    {
        if (User.Id <= 0)
            return false;
        return await GameUserService.IsOnlineAsync(User.Id, cancellationToken);
    }
}
