<Badge Color="@(IsHighlighted ? Color.Dark : Color.Secondary)">
    <Blazorise.Icon Name="FontAwesomeIcons.User" />
    @User.Name
</Badge>

<span></span>

@code {
    [Parameter]
    public GameUser User { get; set; } = GameUser.None;
    [Parameter]
    public bool IsHighlighted { get; set; }
}
