@inherits GameRulesBase

<p>
    <b>Rules</b>: players take turns placing discs on an 8x8 board. A move must
    bracket at least one line of your opponent's discs between the new disc and
    another of yours - all bracketed discs get flipped to your color. If you have
    no legal move, your turn is skipped. The game ends when neither player can
    move; whoever has more discs wins. Legal moves are highlighted with small circles.
    See <a href="https://en.wikipedia.org/wiki/Reversi">Reversi on Wikipedia</a>.
</p>
