apiVersion: v1
kind: Service
metadata:
  name: board-games-service
spec:
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app: board-games
  externalTrafficPolicy: Local
