@foreach(var (user, index) in Users.Select((user, index) => (user, index))) {
    <span>@GetDelimiter(index)</span>
    <AppUserBadge User="@user" />
}

@code {
    [Parameter]
    public IEnumerable<AppUser> Users { get; set; } = Enumerable.Empty<AppUser>();
    [Parameter]
    public bool UseAndDelimiter { get; set; } = true;

    private string GetDelimiter(int index)
        => index switch {
            0 => "",
            1 => UseAndDelimiter ? " and " : ", ",
            _ => ", "
        };
}
