@inherits ComputedStateComponent<GameMessage>
@inject IMessageParser MessageParser

@{
    var message = State.LastNonErrorValue ?? new GameMessage();
}

<span class="@CssClass">
@foreach(var fragment in message.Fragments) {
    <MatchingComponentFor TScope="MessageFragmentView" Source="@fragment" SourceParameterName="Fragment" />
}
</span>

@code {
    [Parameter]
    public string CssClass { get; set; } = "";
    [Parameter]
    public string Text { get; set; } = "";

    protected override async Task<GameMessage> ComputeState(CancellationToken cancellationToken)
        => await MessageParser.Parse(Text, cancellationToken);
}
