@attribute [MatchFor(typeof(RpsEngine), ComponentScopes.GameRules)]
@inherits GameRulesBase

<Paragraph>
    <b>Rules</b>: see
    <a href="https://en.wikipedia.org/wiki/Rock_paper_scissors">Rock-Paper-Scissor rules on Wikipedia</a>.
    Each round you get the sum of points against choices of all other players:
    <ul>
        <li>+2 for winning</li>
        <li>+1 for the draw</li>
        <li>0 for losing.</li>
    </ul>
</Paragraph>
