@attribute [MatchFor(typeof(RpsEngine), ComponentScopes.GameRules)]
@inherits GameRulesBase

<Paragraph>
    <b>Rules</b>: see
    <a href="https://en.wikipedia.org/wiki/Rock_paper_scissors">Rock-Paper-Scissor rules on Wikipedia</a>;
    if you play a game with more than 2 players, every round you get:
    <ul>
        <li>1 point for beating every other player</li>
        <li>and -1 point for losing to every other player.</li>
    </ul>
</Paragraph>
