@attribute [MatchFor(typeof(RpsEngine), ComponentScopes.GameRules)]
@inherits GameRulesBase

<Paragraph>
    <b>Rules</b>: see
    <a href="https://en.wikipedia.org/wiki/Rock_paper_scissors">Rock-Paper-Scissor rules on Wikipedia</a>.
    The points you get are:
    <ul>
        <li>2 point for beating every other player</li>
        <li>1 point for draw with every other player</li>
        <li>0 point for losing to other players.</li>
    </ul>
</Paragraph>
