@attribute [MatchFor(typeof(GomokuEngine), ComponentScopes.GameRules)]
@inherits GameRulesBase

<p><b>Rules</b>: please see <a href="https://en.wikipedia.org/wiki/Gomoku#Official_rules">Gomoku rules on Wikipedia</a>.</p>
