@page "/"

<Jumbotron Padding="Padding.Is3.OnY">
    <DisplayHeading Size="DisplayHeadingSize.Is4">Welcome to Board Games!</DisplayHeading>

    <Paragraph>
        "Board Games" is the newest
        <a href="https://github.com/servicetitan/Stl.Fusion.Samples" target="_blank">Fusion sample</a>
        showing how to implement a real-time board game service with
        <a href="https://github.com/servicetitan/Stl.Fusion" target="_blank">Fusion</a>
        and <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor</a>.
    </Paragraph>
    <Paragraph>
        Check out its
        <a href="https://github.com/alexyakunin/BoardGames">GitHub page</a>
        or watch the video below to learn about its unique features.
    </Paragraph>
    <Paragraph>
        <Row><Column ColumnSize="ColumnSize.Is8.OnWidescreen.Is12.OnDesktop">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="//www.youtube.com/embed/R1XB8UKJ1dk"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </Column></Row>
    </Paragraph>

    <Paragraph>
        Choose the mode to use:<br/>
        <BlazorModeSwitch/>
    </Paragraph>

    <hr class="my-4">

    <Paragraph Class="lead">
        Please share your feedback once you're done playing with it!<br/>
    </Paragraph>

    <Paragraph>
        <Button Color="Color.Primary" Size="Size.Large"
                To="https://forms.gle/TpGkmTZttukhDMRB6"
                Target="Target.Blank">
            Share the feedback
        </Button>
    </Paragraph>

    <Note Title="Note:">
        you can also trigger actions in this sample via its
        <a href="/swagger" target="_blank">web API</a>.
    </Note>
</Jumbotron>
