@inherits GamePlayBase

@{
    var gameEngine = (MnkGameEngine) GameEngine;
    var gameState = gameEngine.DeserializeState(Game.StateJson);
    var board = gameState.Board;
    // Tiny boards (e.g. Tic-Tac-Toe) get larger cells
    var cellSize = gameEngine.BoardSize <= 5 ? "3rem" : "1.5rem";
    var cellStyle = $"padding: 0px; margin: 2px; width: {cellSize}; height: {cellSize};";
}

<Row><Column ColumnSize="ColumnSize.Is6">
    <table><tbody>
        @for (var r = 0; r < gameEngine.BoardSize; r++) {
            var row = r;
            <tr @key=@row class="p-0 m-0">
                @for (var c = 0; c < gameEngine.BoardSize; c++) {
                    var col = c;
                    var cell = board[row, col];
                    <td @key=@((row, col)) class="p-0 m-0">
                        <Button Color="Color.Light" Style="@cellStyle"
                                @onclick="_ => Move(row, col)">
                            @GetIcon(cell)
                        </Button>
                    </td>
                }
            </tr>
        }
    </tbody></table>
</Column></Row>

@code {
    private Task Move(int r, int c)
    {
        var move = new MnkGameMove(r, c);
        var command = new Game_Move(Session, Game.Id, move);
        return UICommander.Run(command);
    }

    private RenderFragment GetIcon(char cell)
        => cell switch {
            'O' => @<Blazorise.Icon Name="FontAwesomeIcons.Circle" IconStyle="IconStyle.Regular" />,
            'X' => @<Blazorise.Icon Name="FontAwesomeIcons.Circle" IconStyle="IconStyle.Solid" />,
            _ => @<span></span>,
            };
}
