@inherits GameRulesBase

<p>
    <b>Rules</b>: players take turns placing their markers on a 3x3 board;
    the first one to get 3 in a row (horizontally, vertically, or diagonally) wins.
    See <a href="https://en.wikipedia.org/wiki/Tic-tac-toe">Tic-Tac-Toe on Wikipedia</a>.
</p>
